{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Gestion des utilisateurs</h1>
  </div>
</div>
{{end}}

<a href="{{=URL('default','ajouter_utilisateur')}}" class="btn btn-success">Ajouter une utilisateur</a><br/><br/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Mot de passe</th>
      
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{for utilisateur in utilisateurs: }}
      <tr>
        <td>{{= utilisateur.nom }}</td>
        <td>{{= utilisateur.prenom }}</td>
        <td>{{= utilisateur.email }}</td>
        <td>{{= utilisateur.mot_de_passe }}</td>
       
        <td>
          <a href="{{=URL('default','modifier_utilisateur', args=utilisateur.id)}}" class="btn btn-warning">Modifier</a>
          <a href="{{=URL('default','supprimer_utilisateur', args=utilisateur.id)}}" class="btn btn-danger">Supprimer</a>
        </td>
      </tr>
    {{ pass }}
  </tbody>
</table>
